@font-face {
    font-family: Verdana Regular;
    src: url('../fonts/Verdana-Regular.ttf');
}
@font-face{
    font-family: Roboto Light;
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face{
    font-family: Verdana-Bold;
    src: url('../fonts/Verdana-Bold.ttf');
}
